* {
  box-sizing: border-box;
}

h2 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

h3 {
  text-align: right;
  margin: 5px 0 10px 0;

  & span {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 35px;
    text-align: center;
  }
}