//Fonts
$font-primary: 'Roboto Flex', sans-serif;

//Responsive design breakpoints
$breakpoint-mobile: 766px;
$breakpoint-tablet-min: 767px;
$breakpoint-tablet-max: 1179px;
$breakpoint-desktop: 1180px;

//Corporate colours
$colour-font-primary: rgb(195, 58, 63);
$colour-background-ingredients: rgb(39, 105, 244);
$colour-background-appliances: rgb(90, 212, 147);
$colour-background-utensils: rgb(230, 76, 67);

//Supplementary colours
$colour-light-gray: rgb(224, 224, 224);
$colour-dark-gray: rgb(177, 177, 177);
$colour-default-text: black;