.search-selectors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 5px 0 5px;

  &-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;

    & .search-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-size: medium;
      cursor: pointer;

      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

        & i {
          padding-right: 10px;
          cursor: pointer;
        }
      }

      & span {
        margin-right: 10px;
      }

      & input {
        cursor: pointer;
      }
    }
  }

  &-fieldsets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  & .search-selector {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 20px;
    align-self: flex-start;

    & label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      font-size: large;
      padding-bottom: 10px;
      padding-top: 10px;
      cursor: pointer;

      & input[type=text] {
        font-size: large;
        border: none;
        outline: none;
        width: 90%;

        &::placeholder {
          color: white;
        }
      }
    }

    & ul {
      column-count: 2;
      padding: 5px;
      //width: 550px;
      //position:absolute;

      & li {
        display: block;
        list-style: none;
        word-wrap: break-word;
        cursor: pointer;
      }
    }

    & .hidden {
      display: none;
    }
  }

  .colour-ingredients {
    color: white;
    border: 1px solid $colour-background-ingredients;
    background-color: $colour-background-ingredients;
    border-radius: 5px;
  }

  .colour-appliances {
    color: white;
    border: 1px solid $colour-background-appliances;
    background-color: $colour-background-appliances;
    border-radius: 5px;
  }

  .colour-utensils {
    color: white;
    border: 1px solid $colour-background-utensils;
    background-color: $colour-background-utensils;
    border-radius: 5px;
  }
}

// Make dropdowns float above the recipe cards
#ingredient-selector-fieldset, #appliance-selector-fieldset, #utensil-selector-fieldset {
  position: relative;
}

#ingredient-list, #appliance-list, #utensil-list {
  position: absolute;
  top: 40px;
  left: -1px;
  width: 576px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}

#ingredient-list {
  background-color: $colour-background-ingredients;
}

#appliance-list {
  background-color: $colour-background-appliances;
}

#utensil-list {
  background-color: $colour-background-utensils;
}