.search-result-message {
  display: none;
  justify-content: space-between;
  margin: 50px 5px 0 5px;
  align-items: center;
  background-color: orange;
  color: white;
  font-weight: 500;
  border-radius: 5px;

  & span {
    padding: 20px 10px 20px 20px;
    font-size: larger;
    margin-right: 20px;
  }
  & i {
    padding: 20px 20px 20px 10px;
    font-size: x-large;
  }
}